# .htaccess
<IfModule authz_core_module>
    Require all denied
</IfModule>
<IfModule !authz_core_module>
    Deny from all
</IfModule>

# Allow access to the API and index files
<FilesMatch "^(index|api/.*)\.php$">
    <IfModule authz_core_module>
        Require all granted
    </IfModule>
    <IfModule !authz_core_module>
        Allow from all
    </IfModule>
</FilesMatch>